name: Deployment

on:
    push:
      branches: [main]

jobs:
  tests:
    name: Deploy
    runs-on: ubuntu-latest

    steps:
    - id: 'auth'
      uses: 'google-github-actions/auth@v2'
      with:
        credentials_json: '${{ secrets.GCP_CREDENTIALS }}'

    - name: 'Set up Cloud SDK'
      uses: 'google-github-actions/setup-gcloud@v2'

    - name: 'Use gcloud CLI'
      run: 'gcloud info'

    - name: Check out code
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: "1.23.0"
    
    - name: build
      run: ./scripts/buildprod.sh

    - name: Push Image
      run: gcloud builds submit --tag uscentral1-docker.pkg.dev/notely-458212/notely-ar-repo/notely:latest .
    
